{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskMaster | Login</title>
    <link rel="stylesheet" href="{% static 'manage_users/style.css' %}">
</head>
<body>
  <div class="wrap">
    <main class="card">
      <div class="brand">
        <h1>Connexion</h1>
        <p>Entrez vos informations pour vous connecter</p>
      </div>

      <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}

        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}

        <div class="field">
          <label>Email</label>
          <input name="email" type="email" placeholder="exemple@domaine.com" required>
        </div>

        <div class="field">
          <label>Mot de passe</label>
          <input name="password" type="password" placeholder="••••••••" required>
        </div>

        <div class="actions">
          <button class="btn" type="submit">Se connecter</button>
        </div>
      </form>
    </main>
</div>

</body>
</html>