{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application de Gestion de Projet</title>
    <link rel="stylesheet" href="{% static 'manage_users/temp.css' %}">
</head>
<body>
    <div id="modal-new-project" class="modal">
        <div class="modal-content">
            <a href="#" class="modal-close">×</a>
            <h2>Créer un nouveau projet</h2>
            <form class="modal-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Nom du projet</label>
                    <input type="text" placeholder="Ex: Site Web Corporate" name="name_project">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea rows="4" placeholder="Décrivez le projet..." id="description_project" name="description_project"></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>Date de début</label>
                        <input type="date">
                    </div>
                    <div class="form-group">
                        <label>Date de fin</label>
                        <input type="date">
                    </div>
                </div>
                <div class="form-group">
                    <label>Membres associés</label>
                    <div class="checkbox-group">
                        {% for member in members %}
                        <label><input type="checkbox" name = member_project value="{{ member.id }}"> {{ member.full_name }}</label>
                        {% endfor %}
                        <label><input type="checkbox">rosilia</label>
                    </div>
                </div>
                <div class="form-actions">
                    <a href="#" class="btn btn-secondary">Annuler</a>
                    <button type="submit" class="btn btn-success">Créer le projet</button>
                </div>
            </form>
        </div>
    </div>    
</body>    